/*EFECTO PARALLAX SCROLLING*/

/*Contenedor con imagen para efecto parallax*/
.fondo-parallax{
    background-attachment: fixed;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.movimiento-arriba{
    position: fixed;
    background-attachment: fixed;
}