/*EFECTO PARALLAX SCROLLING*/

/*Contenedor con imagen para efecto parallax*/
.fondo-parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.movimiento-arriba{
    position: fixed;
}
.movimiento-abajo{
    position: fixed;
}

.sin-magenes{
    margin: 0 !important;
    padding: 0 !important;
}

/*EFECTO PARALLAX 3D 404 ERROR*/
.cd-background-wapper {
    overflow:hidden;
    perspective: 4000px;
}

.cd-floating-background {
    transform-style: preserve-3d;
}

.cd-floating-background img:first-child {
    width: 100%;
    transform: translateZ(50px);
}
.cd-floating-background img:nth-child(2) {
    width: 100%;
    transform: translateZ(290px);
}